<header>
    <div class="container">
        <a href="#" class="logo">Covid Tracker</a>

        <!--Navigation Bar-->
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/news">News</a></li>
                <li><a href="#" routerLink="/about">About</a></li>
                <li><a href="#" routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
