<body>
    <mat-card class="cardView">
        <h1>Today Figure</h1>
        <div class="cardContainer">
            <div class="boxDetail totalCases">
                <div class="icon">
                    <img id="imgBox" src="../../assets/Images/totalCases.png"> </div>
                <div class="title">
                    <h2>Total Cases</h2>
                </div>
                <div class="totalCount">
                    <h3>0</h3>
                </div>
            </div>
            <div class="boxDetail deaths">
                <div class="icon">
                    <img id="imgBox" src="../../assets/Images/death.png"> </div>
                <div class="title">
                    <h2>Total Deaths</h2>
                </div>
                <div class="totalCount">
                    <h3>0</h3>
                </div>
            </div>
            <div class="boxDetail recovered">
                <div class="icon">
                    <img id="imgBox" src="../../assets/Images/recovered.png"> </div>
                <div class="title">
                    <h2>Total Cases</h2>
                </div>
                <div class="totalCount">
                    <h3>0</h3>
                </div>
            </div>
            <div class="boxDetail inHospalital">
                <div class="icon">
                    <img id="imgBox" src="../../assets/Images/inHospital.png"> </div>
                <div class="title">
                    <h2>Hospitalized</h2>
                </div>
                <div class="totalCount">
                    <h3>0</h3>
                </div>
            </div>
        </div>
    </mat-card>
</body>